<div class="container">
    <% @articles.each do |article| %>
        <div class = "d-flex justify-content-center"> 
        <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class = "card-header">
                    <% if article.user %>
                       <i> <%= link_to article.user.username, user_path(article.user) %>  </i> 
                    <%end%>
                    <% if article.categories.any? %>
                        <div class="mt-2"> <%= render article.categories %> </div>               
                    <%end%> 
                    </div>
                    <div class="card-body py-0 px-0">
                        <h5 class="card-title mt-2"><%= link_to article.tittle, article_path(article), class: 'text-success'%> </h5>
                        <p class="card-text"><%=truncate(article.description, length: 100) %> </p>
                        <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
                        <% if logged_in? && article.user == current_user %>
                            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
                            <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                        <%end%>
                        <div class="card-footer text-muted mt-2"> 
                            <small> Created <%= time_ago_in_words(article.created_at)  %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end %>
</div>
